# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.env
.DS_Store .atom/ .buildlog/ .history .svn/ 
spec/*

# Flutter/Dart packages
.packages .pub-cache/ .pub/

# Flutter/Dart build outputs
build/
.dart_tool/*

# IDE-specific files
.idea/ .vscode/ *.iml *.ipr